// background colours
$bg-primary: #131313;
$bg-secondary: #202020;

// text colours
$txt-primary: white;
$txt-secondary: rgb(0, 177, 9);
$font-family: "Fira Code", monospace;

// sizing
$size-mobile: 700px;
$navbar-height: 3rem;
