// background colours
$bg-primary: #131313;
$bg-secondary: #202020;

// text colours
$txt-primary: white;
$txt-secondary: rgb(0, 177, 9);

// sizing
$size-tablet: 400px;
$size-desktop: 950px;

$navbar-height: 3rem;