// variables

$bg-primary: #131313;
$bg-primary--light: white;

$bg-secondary: #202020;
$bg-secondary--light: #bfb8b8;


$txt-colour-secondary: rgb(0, 174, 255);

// colouring

$block-colour: #ff006f;
$title-colour: white;


// sizing

$size-tablet: 400px;
$size-desktop: 950px;

$navbar-height: 3rem;