* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Width and height for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Background color of the scrollbar track */
::-webkit-scrollbar-track {
  background: #131313;
}

/* Color of the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: lighten(#131313, 10%);
  border-radius: 5px;
}

/* On hover, color of the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: lighten(#131313, 12%);
}

nav {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  color: white;

  >a {
    font-weight: bold;
    color: white;
    font-size: 1.5rem;

    &:hover {
      text-decoration: none;
    }
  }
}