@use "../util/index" as *;

@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-y: hidden;

  >.gallery {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: lighten($bg-primary, 2%);

    .initial,
    .copy {
      display: flex;
      gap: 0rem;

    }

    img {
      max-width: 350px;
      border-radius: 0.5rem;
    }
  }

  > .about-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .about-content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;

    > * {
      padding-right: 10px;
      padding-left: 10px;
    }

    >.title {
      display: flex;
      

      h1 {
        font-family: 'Delicious Handrawn', cursive;
        margin-right: auto;
      }

      >.socials {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-top: 5px;
      }
    }

    >.info-sections {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      >.games {
        display: flex;
        flex-direction: column;
        gap: 5px;

        > .game-covers {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          > img {
            height: 100px;
          }
        }
      }

      >.section {
        display: flex;
        flex-direction: column;
        

        >* {
          padding: 10px;
        }

        &.uos>.section-title {
          background-color: #045889;
        }

        &.bitweave>.section-title {
          background-color: rgb(28, 66, 66);
        }

        > .section-title {
          display: flex;
          border-radius: 5px 5px 0 0;
          

          > strong {
            margin-left: auto;
            
          }
        }

        >p {
          background-color: lighten($bg-primary, 3%);
        }

        a, b {
          color: $txt-colour-secondary;
        }

        ul {
          > li {
            margin-top: 5px;
            margin-left: 1.5rem;
          }

          > p {
            margin-left: 1.5rem;
            font-style: italic;
            color: darken(white, 15%);
          }
        }

      }
    }


  }
}

@media (max-width: 700px) {
  .about {
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;

    >.gallery {
      flex-direction: row;

      .initial,
      .copy {
        animation: none;
        flex-direction: row;
        animation: gallery-cycle-mobile 20s infinite linear;

        >img {
          max-height: 150px;
          margin: 1.5rem 0.8rem;
        }
      }
    }
  }

  .about-content-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .about-content {
    .title {

      >h1 {
        font-size: 2.25rem;
      }

      > .socials {
        gap: 5px;

        img {

          &.github-icon {
            width: 30px;
          }

          &.linkedin-icon {
            width: 35px;
          }
        }
      }
    }

    > .info-sections {

      p, em, strong {
        font-size: 0.8rem;
      }
    }
  }
}

@media (min-width: 700px) {

  .about {
    >.gallery {
      height: 100vh;

      .initial,
      .copy {
        animation: gallery-cycle-desktop 20s infinite linear;
        flex-direction: column;

        >img {
          margin: 0.8rem 1.5rem;
        }
      }
    }
  }

  .about-content-wrapper {
    overflow-y: scroll;
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    
    .title {
      >h1 {
        font-size: 4rem;
      }

      > .socials {
        gap: 15px;

        img {

          &.github-icon {
            width: 40px;
          }

          &.linkedin-icon {
            width: 50px;
          }
        }
      }
    }

    > .info-sections {

      >.section {
        p {
          font-size: 1rem;
        }
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}

@keyframes gallery-cycle-desktop {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes gallery-cycle-mobile {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}