@use "../util/index" as *;

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 1rem;
  text-align: center;

  >h1 {
    color: $txt-colour-secondary;
    font-size: 15rem;
  }

  >h2 {
    font-size: 3rem;
  }

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: darken(white, 15%);

    >a {
      text-decoration: none;
      color: $txt-colour-secondary;
      font-size: 1.2rem;
      font-style: italic;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 500px) {
  .not-found {
    >* {
      padding: 0 6px;

    }

    >h1 {
      font-size: 7rem;
    }

    >h2 {
      font-size: 1.75rem;
    }

    >div {
      font-size: 1rem;

      >a {
        font-size: 0.9rem;
      }
    }
  }
}