@use "../util/index" as *;

.projects {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

}

.project-table>ul,
.nav-menu {
  height: 100%;
  background-color: lighten($bg-primary, 2%);

  >li {
    color: white;
    font-weight: bold;
    background-color: lighten($bg-primary, 10%);
    cursor: pointer;
    transition: 150ms;
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    align-items: center;
    padding-right: 10px;

    >img {
      width: 50px;
      height: 50px;
    }

    &:hover {
      background-color: darken($bg-primary, 2%);
      color: $txt-colour-secondary;
    }

    &:nth-child(even) {
      background-color: lighten($bg-primary, 5%);

      &:hover {
        background-color: darken($bg-primary, 2%);
        color: $txt-colour-secondary;
      }
    }
  }
}

.project-table {
  display: grid;
  grid-template-columns: 1fr 4fr;
  flex: 1;
  -webkit-flex: 1;
  gap: 1rem;
  background-color: lighten($bg-primary, 6%);
  overflow: hidden;
  height: 100%;



  >.content {
    padding: 1rem;
    color: white;
    overflow-y: auto;

    >.loading {
      color: darken(white, 20%);
      font-style: italic;
    }

    >* {
      margin-bottom: 1rem;
    }

    h3 {
      margin-bottom: 0.4rem;
    }

    ul,
    ol {
      margin-top: -0.75rem;
    }

    li {
      margin-left: 1.2rem;
    }

    blockquote {
      background-color: lighten($bg-primary, 15%);
      padding: 0.5rem;
      font-weight: bold;
      border-left: solid 5px $txt-colour-secondary;
    }

    a {
      color: $txt-colour-secondary;
    }

    p,
    li {
      color: darken(white, 15%);
    }

    img {
      background-color: darken(white, 5%);
    }

    strong {
      color: orangered;
    }
  }


}

@media (max-width: 700px) {
  .project-table {
    grid-template-columns: 1fr;

    > ul {
      display: none;
    }

  }

  .overlay {
    z-index: -100;

    &.show {
      z-index: 10;
    }
  }

  .content {
    >* {
      max-width: 100%;
    }

    img {
      max-width: 100%;
    }

  }

}

@media (min-width: 700px) {
  .projects {
    >nav {
      >img {
        display: none;
      }
    }
  }

  .overlay {
    z-index: -100;
  }

  .content {
    width: 100%;

    >* {
      max-width: 1000px;
    }

    img {
      max-width: 750px;
    }

  }
}